$blauw: #3a434c
$blauw-donker: #141b25
$groen-licht: #7abc8e
$groen-donker: #749f83
$oranje: #ff6339
$grijs: #a4afb5
$grijs-licht: #dee0df
$grijs-donker: #81898c
$fontcolor: #56534c

/*Change*/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Noto+Serif:400,700,700italic)


html, body
	height: 100%

body
	margin: 0
	padding: 0
	font-family: 'Noto Sans', sans-serif
	-webkit-font-smoothing: antialiased

.tall 
	height: 100%

.relative 
	position: relative

.absolute 
	position: absolute

.fixed
	position: fixed
	z-index: 1

.left 
	float: left

.right 
	float: right

@mixin topLeftRight0
	top: 0
	left: 0
	right: 0

.gmnoprint
	display: none

.scrollable
	overflow: auto
	-webkit-transition-property: top, bottom
	transition-property: top, bottom
	-webkit-transition-duration: .2s, .2s
	transition-duration: .2s, .2s
	-webkit-transition-timing-function: linear, linear
	transition-timing-function: linear, linear
	-webkit-overflow-scrolling: touch

#toolbar 
	@include topLeftRight0
	height: 44px
	border-bottom: 1px solid $grijs-licht
	background: $blauw

	span 
		@include topLeftRight0
		font-family: 'Noto Serif'
		position: absolute
		text-align: center
		line-height: 45px
		color: #fff
		font-weight: bold
		font-style: italic
		text-shadow: 2px 2px $blauw-donker	

	#open-left, #back 
		color: $oranje
		font-size: 30px

	#logout
		color: $oranje
		font-size: 15px
		margin-right: 10px
		text-shadow: none
		text-decoration: none
		display: block
		line-height: 45px
	
	#back
		font-size: 25px

.drawers 
	background: $blauw-donker
	@include topLeftRight0
	bottom: 0
	
	ul 
		padding: 0
		margin: 0
		list-style-type: none
		
		li 
			display: block
			border-top: 1px dashed $grijs-donker
			padding: 15px
			font-size: 25px
			text-shadow: 0 1px 0 #000
			text-decoration: none
			color: $grijs-licht
		
		a:last-child
			li
				border-bottom: 1px dashed $grijs-donker

		li.active 
			color: $oranje


.snapjs-right .left-drawer,
.snapjs-left .right-drawer
	display: none


.left-drawer 
	position: fixed
	top: 0
	left: 0
	width: 70px
	bottom: 0
	background: $blauw-donker
	color: $grijs-licht
	overflow: auto
	text-align: center	
	padding-top: 45px
	z-index: 2
	border-right: 1px solid $grijs-donker
	box-shadow: -3px 0px 5px #000 inset

	-webkit-transition-property: top, bottom
	-moz-transition-property: top, bottom
	transition-property: top, bottom
	-webkit-transition-duration: .2s, .2s
	-moz-transition-duration: .2s, .2s
	transition-duration: .2s, .2s
	-webkit-transition-timing-function: linear, linear
	-moz-transition-timing-function: linear, linear
	transition-timing-function: linear, linear
	-webkit-overflow-scrolling: touch
	-moz-overflow-scrolling: touch


#container 
	@include topLeftRight0
	bottom: 0
	z-index: 3

i
	display: block

#content 
	background: $grijs-licht
	padding-top: 45px
	padding-bottom: 45px
	min-height: 100%

	.title
		color: $blauw
		position: relative
		font-size: 1.3em
		font-family: 'Noto Serif', serif
		width: 71%
		left: 4%
		margin-bottom: -2%

	.article 
		overflow: hidden
		width: 90%
		margin: 4% auto
		min-height: 60px
		background: white
		padding: 10px 15px 3px 15px
		box-shadow: 0 1px 3px $grijs-donker

		i.image
			float: left
			width: 50px
			height: 50px
			background: $grijs-donker
			color: white
			font-size: 35px
			line-height: 50px

		span
			position: relative
			display: block
			left: 4%
			width: 65%
			font-size: 0.7em

			a
				display: block
				text-decoration: none
				color: $blauw
				min-height: 60px
		

		.linkbutton
			float: right
			width: 30%
			cursor: hand

		.share, .twitter-share-button
			float: none
			margin-top: 50px
			margin-bottom: 20px
		
		.home
			width: 100%

	.eventdetail
		width: 85%
		padding-bottom: 30px

		#header
			width: 100%

			.title
				font-size: 1.5em
				font-family: 'Noto Serif', serif
				width: 71%
				float: left
				left: 0
				margin-bottom: 1em

			.img
				margin-left: 2%
				width: 25%
				float: right

		#eventContent
			clear: left
			dt
				float: left
				clear: left
				font-weight: bold

			dd
				margin-left: 90px

		#moreInfo
			float: none
			margin-bottom: 1em
			padding-top: 5px

	.checkinInfo
		p
			font-weight: bold
			font-family: "Noto Serif"
			text-align: center
			width: 100%


	.badgeInfo
		min-height: 200px
		
		.title
			margin: 0
			font-family: "Noto Serif", serif
			font-weight: bold
			font-style: italic


		.badge
			left: 0
			float: left
			width: 70px
			height: 100px
			border: 1px solid $grijs-licht
			background: $grijs-licht
			padding: 10px 30px 20px 30px
			margin-right: 10px

			img
				width: 72px
				height: 108px

			p
				font-size: 1.1em
				text-align: center
			


		.loading-container
			float: left
			margin-top: 20px
			background-color: rgb(252,252,252)
			width: 100%
			height: 10px
			border-color: #fff
			border-width: 3px
			-moz-border-radius: 10px
			-webkit-border-radius: 10px
			border-radius: 10px
			border-style: solid
			-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5)
			-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5)
			box-shadow: 0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5)
		
		.loading-progress
			background-image: -moz-linear-gradient(1% 40% 0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%)
			background-image: -webkit-gradient(linear,1% 40%,119% 40%,color-stop(0, rgb(255,128,0)),color-stop(0.01, rgb(255,128,0)),color-stop(0.99, rgb(255,201,38)),color-stop(1, rgb(255,201,38)))
			background-image: -webkit-linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%)
			background-image: -o-linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%)
			background-image: -ms-linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%)
			background-image: linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%)
			width: 40%
			height: 10px
			-moz-border-radius: 5px 0px 0px 5px
			-webkit-border-radius: 5px 0px 0px 5px
			border-radius: 5px 0px 0px 5px
			-moz-box-shadow: inset 0px 1px 2px rgb(153,67,0)
			-webkit-box-shadow: inset 0px 1px 2px rgb(153,67,0)
			box-shadow: inset 0px 1px 2px rgb(153,67,0)
	
	.badges
		padding-bottom: 40px
		overflow: hidden

		.badge
			position: relative
			left: 3%
			margin-top: 40px
			padding: 20px 65px 30px 65px
			width: 144px
			height: 216px

			img
				width: 144px
				height: 216px

			p
				margin-top: 30px
				padding-bottom: 20px
				font-size: 1.5em

	.buttons
		width: 90%
		margin: 0 auto

		.linkbutton
			width: 48%
			float: left
			margin: 0 1%

	.socialButtons
		min-height: 75px

		.social
			width: 33%
			float: left
			text-align: center
			font-size: 50px
			cursor: hand

			i
				color: $groen-donker

		.active
			background: $groen-licht

			i
				color: white


	#search_form
		background: $blauw
		padding: 5px 1%

		input
			width: 79%
			margin: 0
			padding: 0
			font-size: 0.7em
			height: 32px
		
		input.button
			width: 21%
			padding: 0
			color: white
			background-color: $groen-licht

#header
	
	#slogan
	width: 100%
	margin: 0px auto 50px auto
	text-align: center
	font-size: 20px

	p 
		margin: 0
		margin-bottom: 20px
		padding: 0
		line-height: 30px
		font-family: 'Noto Serif'
		color: $blauw
		font-weight: bold
		font-style: italic
	
	form
		p
			color: $oranje

	.icon-location
		margin: 20px 0
		font-size: 55px
		color: $oranje

	#error
		color: $oranje
		font-size: 15px


#map-canvas 
	display: block
	width: 100%
	height: 100px

#map-canvas img 
	border: none !important
	max-width: none !important



.linkbutton
	display: block
	width: 100%
	text-decoration: none
	text-align: center
	vertical-align: middle
	height: 38px
	margin-top: 10px
	line-height: 38px
	font-weight: bold
	font-style: normal
	background-color: $groen-licht
	color: white

.home
	width: 99%
	margin: 0 auto


form
	input
		-webkit-appearance: none
		-webkit-border-radius: 0
		width: 100%
		padding: 5px 0px 5px 5px 
		border: 0px solid $grijs
		font-size: 17px
		font-style: italic
		height: 43px
		outline: 0px
		text-align: center

#login_form
	width: 80%
	margin: 0 auto

	input:first-child
		border-bottom: 1px solid $grijs
	

	.button
		margin-top: 20px
		font-style: normal
		font-weight: bold
		background-color: $groen-licht
		color: white

#register_form
	width: 80%
	margin: 0 auto

	input
		border-bottom: 1px solid $grijs
	
	input:last-child
		border-bottom: none

	.button
		margin-top: 20px
		font-style: normal
		background-color: $groen-licht
		color: white
	p
		color: $oranje
