@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?25076538');
  src: url('fonts/fontello.eot?25076538#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?25076538') format('woff'),
       url('fonts/fontello.ttf?25076538') format('truetype'),
       url('fonts/fontello.svg?25076538#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.svg?25076538#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  /*line-height: 1em;*/
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-varia:before { content: '\e024'; } /* '' */
.icon-muziek:before { content: '\e073'; } /* '' */
.icon-location:before { content: '\e07a'; } /* '' */
.icon-chat:before { content: '\e0a3'; } /* '' */
.icon-expo:before { content: '\e0a9'; } /* '' */
.icon-uitgaan:before { content: '\e0ad'; } /* '' */
.icon-arrow-left:before { content: '\e0d4'; } /* '' */
.icon-home:before { content: '\e0e0'; } /* '' */
.icon-films:before { content: '\e0e9'; } /* '' */
.icon-cursussen:before { content: '\e0f5'; } /* '' */
.icon-cog:before { content: '\e109'; } /* '' */
.icon-evenementen:before { content: '\e10b'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-uitstappen:before { content: '\e82a'; } /* '' */
.icon-uit:before { content: '\e834'; } /* '' */
.icon-sport:before { content: '\e837'; } /* '' */
.icon-podium:before { content: '\e83a'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-award:before { content: '🏉'; } /* '\1f3c9' */
.icon-award-1:before { content: '\e800'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */